version: "3.9"
services: 
    mongoapp:
        image: mongo:5.0.3
        restart: always
        ports: 
            - "27017"
        environment: 
            MONGO_INITDB_DATABASE: MyDatabase
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example
    nodeapp:
        build: ./node-app
        ports: 
            - "4300:8080"
        restart: always
        depends_on: 
            - "mongoapp"
    reactapp:
        build: ./react-app
        ports:
            - "4301:3000"
        restart: always
        depends_on: 
            - "nodeapp"
    
    
